#spaceBalls {
    margin: 15px 0;
    padding: 15px 0;
    background-color: beige;
    
    #canvas {
    border: red 10px solid;   
    width: 500px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }
  }